
body {
    overflow-x: hidden;
  overflow-y: scroll;
  font-size:100%;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: #e5e5e5;
}

hr { /*line break used to adjust spacing between white section and blue section*/
  width: 100%;
  height: 0;
  border: none;
}


/****************************************THIS IS TO STYLE THE HEADER***************************/

/****start of header syling****/

.header {  /*to style the entire header*/
      font-family: "Arial", Helvetica, sans-serif; /*backup fonts*/
      color: ##000000; /*black*/
      background: white;
      width: 100%
      padding: 0px;
      margin: -10px;
    }


/*to style the header links*/

    
.header-left { /*to float the left side of the header against the entire header*/
  float: left;
  margin-left:3em;
  margin-top: 1em;
    }

#logo-img { /*to float the "ryerson student portal" against the logo*/
  width: 5em;
  float: left;
}

#portal-name { /*to float the "ryerson student portal" against the logo*/
  float: right;
  margin-left: 1em;

}

.tab { /*to style the individual buttons on the right side of the header:*/
  background-color: #e5e5e5;
  font-weight: bold;
}

.header-right { /*to float the right side of the header against the entire header*/
  float: right;
  margin-right: 3em;
  margin-top:1em;
}

.header-right a { /*to style the individual button links on the right*/
  float: left; 
  color: black;
  padding: 12px;
  text-decoration: none; /*to remove default hyperlink style*/
  font-size: 14px; 
  line-height: 25px;
  border-radius: 0px;
  margin: 1px;
}

.header-right a:hover { /*to change style when hovered on the header link*/
  background-color: white;
  color: black;
  } 


#langauge { /*style the language button*/
  font-weight: bold;
}

.blue-bar { /*stule the bblue bar below the header*/
  width: 100%;
  height: 40px;
  background-color: #004c9b;
  display: block;
}

/*to style the language drop down*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
  width: 71%; 
  }

.dropdown:hover .dropdown-content {display: block;}

/***end of header style*/

/***************************************Content Style*************************************************/


#jobtitle{
  background: white;
  width: 85%;
  margin-top: 30px;
  margin-left: 100px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding left: 100px;
  position: relative;
}

#jobtitle2{
  margin-left: 130px;
  margin-top: -90px;
  position: relative;
}

#mdmlogo{
  padding-top: 30px;
  position: relative;
}

#button1{
  transform:translate(-300px, -17px);
  margin-left: 920px;
  margin-top: -50px;
  position: relative;
  cursor:pointer;
}

#button2{
  margin-left: 800px;
  margin-top: -58px;
  position: relative;
  cursor:pointer;

}

#description{
  background: white;
  width: 55%;
  height:586px;
  margin-top: 30px;
  margin-left: 100px;
  padding-left: 40px;
  padding-top: 5px;
}

#container {
  width: 100%;
  display: flex;
  flex direction: column;
}


#bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#search1{
  padding-left: 10px;
  color: blue;
}

#search2{
  padding-left: 100px;
  padding-top: 30px;
  color: blue;
}

#right-side{
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 2em;
}

#notifications{
  width: 90%;
  height: 150px;
  position: relative;
  background: white;
  margin-bottom: 20px;
}

#right-side p{
  text-align: center;
}

#subscribe{
  width: 65%;
  position: relative;
  margin-left: 40px;
  cursor:pointer;
}

#also{
  position: relative;
  background: white;
  width: 90%;
  height: 250px;
  margin-bottom: 20px;
}

#connect{
  position: relative;
  background: white;
  width: 90%;
  height: 150px;
}

#faces{
  padding-left: 50px;
}

body {
  font-size:100%;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: #e5e5e5;
  /*code below is to make sure that the blue background reaches the edge of the browser*/
  margin: 0; 
  padding: 0;
  border: 0;
  vertical-align: baseline;

}

hr { /*line break used to adjust spacing between white section and blue section*/
  width: 100%;
  height: 0;
  border: none;
}

/***************************************THIS IS TO STYLE THE FOOTER HERE*************************************************/

#footer { /*style of overall footer*/
  width:100%;
  background-color: #004C9B;
}


.iframes { /*to style the individual youtube boxes*/
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 14em;
  justify-content: center;
  margin-bottom: 5em;
}

h2 { /*you may also like*/
  padding: 1em;
  margin: 1em;
}



#f2 { /*create space between the youtube boxes*/
  margin-left: 2em;
}

#footer-top{ /*style of first light blue bar containing youtube links*/
  width: 100%;
  margin: 10px;
  color: white;
  font-size: 14px; 
  line-height: 25px;
}

#footer-middle { /*style of dark blue bar containing ryerson address*/
  display: flex;
  justify-content: space-between;
  background-color: #002954;
  color: white;
  font-size: 14px; 
  line-height: 15px;
  margin: -10px;
  padding: 20px;
}


#footer-img { /*social media footer image*/
  width: 50%;
}

.footer-middle-right { /*to realign the social media div*/
  transform: translate(40%, -0%);
}



#footer-bottom { /*light blue bar containing terms and conditions*/
  width: 100%;
  height: 2em;
  background-color: #004C9B;
  color: white;
}

/*directory-maps link*/
.terms a:link { 
  color: white;
}

.terms a:visited {
  color: white;
}

.terms ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333333;
}

.terms li {
    float: left;
    list-style-type: none;
    padding: 10px;
}

.footer-middle-left { /*ryerson address*/
  margin-left: 2em;






