
body {
  font-size:100%;
  font-family: "Arial", Helvetica, sans-serif;
  color: black;
  background-color: #e5e5e5;
  /*code below is to make sure that the blue background reaches the edge of the browser*/
  margin: 0; 
  padding: 0;
  border: 0;
  vertical-align: baseline;
  /*hide overflow*/
  overflow-x: hidden;
  overflow-y: scroll;
}

hr { /*line break used to adjust spacing between white section and blue section*/
  width: 100%;
  height: 0;
  border: none;
}


/****************************************THIS IS TO STYLE THE HEADER***************************/

/****start of header syling****/

.header {  /*to style the entire header*/
      font-family: "Arial", Helvetica, sans-serif; /*backup fonts*/
      color: ##000000; /*black*/
      background: white;
      width: 100%
      padding: 0px;
      margin: -10px;
    }


/*to style the header links*/

    
.header-left { /*to float the left side of the header against the entire header*/
  float: left;
  margin-left:3em;
  margin-top: 1em;
    }

#logo-img { /*to float the "ryerson student portal" against the logo*/
  width: 5em;
  float: left;
}

#portal-name { /*to float the "ryerson student portal" against the logo*/
  float: right;
  margin-left: 1em;

}

.tab { /*to style the individual buttons on the right side of the header:*/
  background-color: #e5e5e5;
  font-weight: bold;
}

.header-right { /*to float the right side of the header against the entire header*/
  float: right;
  margin-right: 3em;
  margin-top:1em;
}

.header-right a { /*to style the individual button links on the right*/
  float: left; 
  color: black;
  padding: 12px;
  text-decoration: none; /*to remove default hyperlink style*/
  font-size: 14px; 
  line-height: 25px;
  border-radius: 0px;
  margin: 1px;
}

.header-right a:hover { /*to change style when hovered on the header link*/
  background-color: white;
  color: black;
  } 


#langauge { /*style the language button*/
  font-weight: bold;
}

.blue-bar { /*stule the bblue bar below the header*/
  width: 100%;
  height: 40px;
  background-color: #004c9b;
  display: block;
}

/*to style the language drop down*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
  width: 71%; 
  }

.dropdown:hover .dropdown-content {display: block;}


/***end of header style*/

/***************************************To Create Split Screen*************************************************/



.split {
    height: 800px;
}

.left {
    left: 0;
    background-color: white;
    width: 30%;
    padding-top: 2em;
    margin: 3em;
    position: absolute; /*way to make the page scroll down*/
  }

  /*************************************RIGHT*************************************************/

.right {
    right: 0;
    background-color: #e5e5e5;
    width: 60%;
    margin-top: 1em;
    position: absolute; /*only way to make the page scroll down*/
}

/*search-bar and speech*/
  .speech {
    border: 3px solid #DDD; 
    left:610px; bottom:-290px; 
    width: 450px; 
    height:35px; 
    padding: 0; 
    margin-right:10px;
  }

  .speech input {
    border: 0; 
    bottom: 1px; 
    width: 390px; 
    display: inline-block; 
    height: 35px; 
    text-align:center; 
    font-size: 22px;
  }

  .speech img {
    float: right;
  }



.centered{ /*container for entire search results section*/
  display: block;
  position: relative;
  width: 100%;
  justify-content: left;
}

#results { /*search results text*/
  margin-left:0;
}



#center-top {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  }

#SearchAgainButton{
  background-color:#003399;
  color: white;
  font-size:20px;
  width:180px;
  height: 54px;
  left:1040px;
  bottom:-237px;
  }



/**************Right Box - results section*******************/

.jobBox{
  background-color:white;
  width:670px;
  height:200px;
  margin-top: 3em;
  padding: 20px;
}

#jobLink { 
  text-decoration: none;
}

.courseTitle{
  color:black;
  font-weight: bold;
  width:600px;
  height:50px;
  font-size: 20px; 
  text-align:left;
}

.jobId{
color:black;
width:170px;
font-size:21px;
text-align:left;}

.jobFam{
  color:black;
  width:250px;
  font-size:21px;
  text-align:left;
}

.job-text {
  padding: 2em;
}

#ShowingJobs {
  color:black;
  position:relative;
  bottom:-106px;
  left:218px;
  font-size: 25px;
  }

.numbered-buttons{
  background-color:#003399;
  color:white;
  font-size: 20px;
  width:50px;
  height:50px;
  line-height:0px;
  left:540px;
  bottom:-1340px;
  font-size:25px;
}

.word-button{
  background-color:#003399;
  color: white;
  font-size: 20px;
  width:auto;
  height:50px;
  line-height:0px;
  left:945px;
  bottom:-1288px;
  font-size:25px;
}



.buttons-all{
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin-left: 6em;
}

#all-jobs{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.center-bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}




/**************************************************Left****************************/
.left-container {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
    text-align: center;
}


.blank {
  width: 100%;
  height: 100%;
  background-color: white;
}


/***Left side Content all*/

.left-container {
  margin-top: 4em;
}

.left-container h3 {
  color: white;
  font-size: 16px;
  background-color:#003399;
  padding: 5px;
}

.left-container ul {
  list-style-type: none;
  line-height: 2;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.left-container h2 {
  padding-left: 2em;

}

.check {
text-align: left;
left: 0;
line-height: 1.5;
}

.check input{
}

/***Slider*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#search {
  background-color:#003399;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px; 
  margin-left: 10%;
  margin-top: 30px;
}




/*************************************FOOTER***************************************/
#footer { /*style of overall footer*/
  position: relative;
  top: 250px;
  width: 180%;
  background-color: #004C9B;
  transform: translate(-38%, 10%);
}

.iframes { /*to style the individual youtube boxes*/
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 14em;
  justify-content: center;
  margin-bottom: 5em;
}

h2 { /*you may also like*/
  padding: 1em;
  margin: 1em;
}

#f2 { /*create space between the youtube boxes*/
  margin-left: 2em;
}

#footer-top{ /*style of first light blue bar containing youtube links*/
  margin: 10px;
  color: white;
  font-size: 14px; 
  line-height: 25px;
}

#footer-middle { /*style of dark blue bar containing ryerson address*/
  display: flex;
  justify-content: space-between;
  background-color: #002954;
  color: white;
  font-size: 14px; 
  line-height: 15px;
  margin: -10px;
  padding: 20px;
}


#footer-img { /*social media footer image*/
  width: 50%;
  transform: translate(-38%, 0%);
}

.footer-middle-right { /*to realign the social media div*/
  transform: translate(40%, -0%);
}

#footer-bottom { /*light blue bar containing terms and conditions*/
  height: 4em;
  background-color: #004C9B;
  color: white;
}
.directory a:link { 
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-left:0;
  color: white;
  float:left;
}

.directory a:visited {
  color: white;
}


.terms {
    margin: 0;
    padding: 10px;
    overflow: hidden;
}


.terms a:link { 
  float: left;
  text-decoration: none;
  color: white;
  padding: 10px;
  list-style-type: none;
}

.terms a:visited {
  color: white;
}




.footer-middle-left { /*ryerson address*/
  margin-left: 2em;

}

/**************Job Department Dropdown*********************/

.collabsible {

  list-style-type: none;


}

.unfold {
  list-style-type:none;
  padding: 10px;
  background-color: #AAAFAB;
  border: 2px;

}


label{
  background-color: #AAAFAB;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: black;
}

.collabsible input[type=checkbox] { display: none; }
.collabsible input[type=checkbox] ~ ul {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space:nowrap;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}

.collabsible input[type=checkbox]:checked ~ ul {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.collabsible input[type=checkbox] + label:before{
      transform-origin:25% 50%;
      border: 8px solid transparent;
      border-width: 8px 12px;
      border-left-color: black;
        margin-left: -20px;
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;
        content: '';
        color: #AAAFAB;
        -webkit-transition:all .5s ease;
        -moz-transition:all .5s ease;
        -o-transition:all .5s ease;
        transition:all .5s ease;
        position: absolute;
        margin-top: 1px;
        }

.collabsible input[type=checkbox]:checked + label:before {
  transform: rotate(90deg);
    


